@page "/"

<PageTitle>Título da Página</PageTitle>

<h3>Index</h3>

@code {

    protected override void OnInitialized()
    {
        Console.Write("Passei aqui");
        base.OnInitialized();
    }

}
