@* Rota *@
@page "/products"

@* Usando o componente PageTitle para gerar um título na página*@
<PageTitle>Products</PageTitle>

<h1>Products</h1>

<ProductListComponent></ProductListComponent>

@code
{
}